In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("d_train.csv")
df.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,30-04-90,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,07-05-90,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,14-05-90,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,21-05-90,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,28-05-90,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6

In [2]:
df.isnull().sum() # Checking if there is any null value in the dataset

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
dtype: int64

In [3]:
df.dtypes

city                                      object
year                                       int64
weekofyear                                 int64
week_start_date                           object
ndvi_ne                                  float64
ndvi_nw                                  float64
ndvi_se                                  float64
ndvi_sw                                  float64
precipitation_amt_mm                     float64
reanalysis_air_temp_k                    float64
reanalysis_avg_temp_k                    float64
reanalysis_dew_point_temp_k              float64
reanalysis_max_air_temp_k                float64
reanalysis_min_air_temp_k                float64
reanalysis_precip_amt_kg_per_m2          float64
reanalysis_relative_humidity_percent     float64
reanalysis_sat_precip_amt_mm             float64
reanalysis_specific_humidity_g_per_kg    float64
reanalysis_tdtr_k                        float64
station_avg_temp_c                       float64
station_diur_temp_rng_c                  float64
station_max_temp_c                       float64
station_min_temp_c                       float64
station_precip_mm                        float64
total_cases                                int64
dtype: object

In [4]:
df=df.fillna(df.mean())

In [5]:
#Creating a Label Encoder
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [6]:
# Performing Label Encoding on the necessary features
df['city']= le.fit_transform(df['city'])

In [7]:
df['week_start_date'] = pd.to_datetime(df['week_start_date'])
df['year'] = df['week_start_date'].dt.year
df['month'] = df['week_start_date'].dt.month
df['day'] = df['week_start_date'].dt.day
df.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases,month,day
0,1,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4,4,30
1,1,1990,19,1990-07-05,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5,7,5
2,1,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4,5,14
3,1,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3,5,21
4,1,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6,5,28

In [8]:
df['ndvi_ne'][5]

0.14229353741679882

In [9]:
#Creating Pearson Correlation matrix 
import matplotlib.pyplot as plt #Importing matplotlib library
import seaborn as sns#importing seaborn
import statsmodels.api as sm
plt.figure(figsize=(12,10))
cor = df.corr()
sns.heatmap(cor, annot=True,cmap=plt.cm.Reds)
plt.show()

In [79]:
#Correlation with output variable
cor_tar = abs(cor["total_cases"])
#Selecting highly correlated features
rel_features = cor_tar[cor_tar<0.15]
rel_features #we will just take these rel_features in our training set

ndvi_nw                                  0.137254
ndvi_se                                  0.117769
ndvi_sw                                  0.137221
precipitation_amt_mm                     0.038670
reanalysis_dew_point_temp_k              0.142322
reanalysis_precip_amt_kg_per_m2          0.010016
reanalysis_relative_humidity_percent     0.132259
reanalysis_sat_precip_amt_mm             0.038670
reanalysis_specific_humidity_g_per_kg    0.129671
station_avg_temp_c                       0.115478
station_max_temp_c                       0.039068
station_precip_mm                        0.074201
month                                    0.101558
day                                      0.021997
Name: total_cases, dtype: float64

In [11]:
# Scaling on all required columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['precipitation_amt_mm'] = scaler.fit_transform(df['precipitation_amt_mm'].values.reshape(-1,1))
df['reanalysis_air_temp_k'] = scaler.fit_transform(df['reanalysis_air_temp_k'].values.reshape(-1,1))
df['reanalysis_avg_temp_k'] = scaler.fit_transform(df['reanalysis_avg_temp_k'].values.reshape(-1,1))
df['reanalysis_dew_point_temp_k'] = scaler.fit_transform(df['reanalysis_dew_point_temp_k'].values.reshape(-1,1))
df['reanalysis_max_air_temp_k'] = scaler.fit_transform(df['reanalysis_max_air_temp_k'].values.reshape(-1,1))

df['reanalysis_min_air_temp_k'] = scaler.fit_transform(df['reanalysis_min_air_temp_k'].values.reshape(-1,1))
df['reanalysis_precip_amt_kg_per_m2'] = scaler.fit_transform(df['reanalysis_precip_amt_kg_per_m2'].values.reshape(-1,1))
df['reanalysis_relative_humidity_percent'] = scaler.fit_transform(df['reanalysis_relative_humidity_percent'].values.reshape(-1,1))
df['reanalysis_sat_precip_amt_mm'] = scaler.fit_transform(df['reanalysis_sat_precip_amt_mm'].values.reshape(-1,1))
df['reanalysis_specific_humidity_g_per_kg'] = scaler.fit_transform(df['reanalysis_specific_humidity_g_per_kg'].values.reshape(-1,1))

df['reanalysis_tdtr_k'] = scaler.fit_transform(df['reanalysis_tdtr_k'].values.reshape(-1,1))
df['station_avg_temp_c'] = scaler.fit_transform(df['station_avg_temp_c'].values.reshape(-1,1))
df['station_diur_temp_rng_c'] = scaler.fit_transform(df['station_diur_temp_rng_c'].values.reshape(-1,1))
df['station_max_temp_c'] = scaler.fit_transform(df['station_max_temp_c'].values.reshape(-1,1))
df['station_min_temp_c'] = scaler.fit_transform(df['station_min_temp_c'].values.reshape(-1,1))
df['station_precip_mm'] = scaler.fit_transform(df['station_precip_mm'].values.reshape(-1,1))

In [12]:
df.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases,month,day
0,1,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,0.031797,0.388291,...,0.262659,0.086660,0.430091,0.210393,0.174194,0.486239,0.029450,4,4,30
1,1,1990,19,1990-07-05,0.169900,0.142175,0.162357,0.155486,0.058423,0.472710,...,0.418164,0.069133,0.565350,0.163498,0.322581,0.688073,0.015829,5,7,5
2,1,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,0.088428,0.548064,...,0.586900,0.064265,0.565350,0.173638,0.354839,0.743119,0.076201,4,5,14
3,1,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,0.039324,0.575260,...,0.566808,0.073028,0.645897,0.198986,0.425806,0.788991,0.007362,3,5,21
4,1,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,0.019252,0.645515,...,0.628226,0.112950,0.802432,0.429658,0.535484,0.844037,0.010676,6,5,28

In [127]:
df2=df.drop(['week_start_date','precipitation_amt_mm','reanalysis_precip_amt_kg_per_m2','reanalysis_sat_precip_amt_mm','station_max_temp_c','station_precip_mm','total_cases'],axis=1)

In [128]:
x=df2[:]
y=df['total_cases']

In [129]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9)

In [130]:
#model= xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.08,
                #max_depth = 5, alpha = 10, n_estimators = 500)
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=500)
model.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [131]:
model.score(x_test,y_test)

0.971445880343119

In [132]:
df1=pd.read_csv("d_test.csv")
df3=df1
df3.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,29-04-08,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,06-05-08,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,13-05-08,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,20-05-08,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,27-05-08,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [133]:
df1=df1.fillna(df1.mean())

In [134]:
#Creating a Label Encoder
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [135]:
# Performing Label Encoding on the necessary features
df1['city']= le.fit_transform(df1['city'])

In [136]:
df1['week_start_date'] = pd.to_datetime(df1['week_start_date'])
df1['year'] = df1['week_start_date'].dt.year
df1['month'] = df1['week_start_date'].dt.month
df1['day'] = df1['week_start_date'].dt.day
df1.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,month,day
0,1,2008,18,2008-04-29,-0.01890,-0.018900,0.102729,0.091200,78.60,298.492857,...,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2,4,29
1,1,2008,19,2008-06-05,-0.01800,-0.012400,0.082043,0.072314,12.56,298.475714,...,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3,6,5
2,1,2008,20,2008-05-13,-0.00150,0.126803,0.151083,0.091529,3.66,299.455714,...,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0,5,13
3,1,2008,21,2008-05-20,0.12605,-0.019867,0.124329,0.125686,0.00,299.690000,...,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3,5,20
4,1,2008,22,2008-05-27,0.05680,0.039833,0.062267,0.075914,0.76,299.780000,...,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1,5,27

In [137]:
# Scaling on all required columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df1['precipitation_amt_mm'] = scaler.fit_transform(df1['precipitation_amt_mm'].values.reshape(-1,1))
df1['reanalysis_air_temp_k'] = scaler.fit_transform(df1['reanalysis_air_temp_k'].values.reshape(-1,1))
df1['reanalysis_avg_temp_k'] = scaler.fit_transform(df1['reanalysis_avg_temp_k'].values.reshape(-1,1))
df1['reanalysis_dew_point_temp_k'] = scaler.fit_transform(df1['reanalysis_dew_point_temp_k'].values.reshape(-1,1))
df1['reanalysis_max_air_temp_k'] = scaler.fit_transform(df1['reanalysis_max_air_temp_k'].values.reshape(-1,1))

df1['reanalysis_min_air_temp_k'] = scaler.fit_transform(df1['reanalysis_min_air_temp_k'].values.reshape(-1,1))
df1['reanalysis_precip_amt_kg_per_m2'] = scaler.fit_transform(df1['reanalysis_precip_amt_kg_per_m2'].values.reshape(-1,1))
df1['reanalysis_relative_humidity_percent'] = scaler.fit_transform(df1['reanalysis_relative_humidity_percent'].values.reshape(-1,1))
df1['reanalysis_sat_precip_amt_mm'] = scaler.fit_transform(df1['reanalysis_sat_precip_amt_mm'].values.reshape(-1,1))
df1['reanalysis_specific_humidity_g_per_kg'] = scaler.fit_transform(df1['reanalysis_specific_humidity_g_per_kg'].values.reshape(-1,1))

df1['reanalysis_tdtr_k'] = scaler.fit_transform(df1['reanalysis_tdtr_k'].values.reshape(-1,1))
df1['station_avg_temp_c'] = scaler.fit_transform(df1['station_avg_temp_c'].values.reshape(-1,1))
df1['station_diur_temp_rng_c'] = scaler.fit_transform(df1['station_diur_temp_rng_c'].values.reshape(-1,1))
df1['station_max_temp_c'] = scaler.fit_transform(df1['station_max_temp_c'].values.reshape(-1,1))
df1['station_min_temp_c'] = scaler.fit_transform(df1['station_min_temp_c'].values.reshape(-1,1))
df1['station_precip_mm'] = scaler.fit_transform(df1['station_precip_mm'].values.reshape(-1,1))

In [138]:
df1.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,month,day
0,1,2008,18,2008-04-29,-0.01890,-0.018900,0.102729,0.091200,0.464155,0.533578,...,0.464155,0.478859,0.126374,0.387850,0.282180,0.544643,0.600,0.354717,4,29
1,1,2008,19,2008-06-05,-0.01800,-0.012400,0.082043,0.072314,0.074170,0.531256,...,0.074170,0.460854,0.083516,0.313084,0.141759,0.250000,0.640,0.161792,6,5
2,1,2008,20,2008-05-13,-0.00150,0.126803,0.151083,0.091529,0.021613,0.664022,...,0.021613,0.585879,0.226374,0.616822,0.350384,0.500000,0.688,0.014151,5,13
3,1,2008,21,2008-05-20,0.12605,-0.019867,0.124329,0.125686,0.000000,0.695762,...,0.000000,0.458628,0.219780,0.637850,0.208626,0.544643,0.816,0.001415,5,20
4,1,2008,22,2008-05-27,0.05680,0.039833,0.062267,0.075914,0.004488,0.707954,...,0.004488,0.509812,0.158242,0.565421,0.284855,0.544643,0.728,0.396698,5,27

In [141]:
df4=df1.drop(['week_start_date','precipitation_amt_mm','reanalysis_precip_amt_kg_per_m2','reanalysis_sat_precip_amt_mm','station_max_temp_c','station_precip_mm'],axis=1)

In [142]:
y_test1=model.predict(df4)
y_test1

array([  4.93 ,   4.652,   5.718,   8.99 ,  11.996,  11.504,  15.42 ,
        20.724,  46.326,  37.752,  23.518,  33.198,  53.238,  55.814,
        69.742,  81.466,  62.574,  68.596,  89.772, 103.822,  89.664,
        45.848,  73.962,  80.496,  38.712,  29.908,  30.014,  30.524,
        31.94 ,  26.402,  23.684,  21.056,  13.794,  15.844,  19.91 ,
        18.398,  13.742,  12.64 ,  11.626,  11.992,  10.17 ,   9.608,
         8.306,  12.71 ,   6.628,   6.052,   6.618,   6.344,   5.104,
         4.746,   4.742,   5.03 ,   7.55 ,   4.882,   9.522,   5.212,
        11.41 ,  11.502,  10.996,  14.876,  12.802,  37.602,  49.12 ,
        46.862,  50.086,  60.67 ,  65.344,  74.446,  62.29 ,  72.866,
        76.786,  72.878,  82.772,  87.044,  88.27 ,  78.234,  78.842,
        80.116,  69.516,  42.04 ,  26.562,  30.856,  32.614,  23.708,
        26.682,  22.018,  20.294,  14.26 ,  16.09 ,  13.732,  14.388,
        14.002,  11.03 ,  18.64 ,  12.38 ,  11.888,  13.092,   8.678,
         7.068,  11.764,  12.826,   7.492,   5.656,   6.832,  22.094,
        18.356,   9.692,  19.986,  17.646,  25.458,  60.508,  58.186,
        24.708,  27.368,  51.834,  49.44 ,  31.82 ,  34.802,  62.772,
        83.662,  91.572,  76.058,  80.97 ,  89.69 ,  84.226,  94.364,
        95.884,  85.434,  98.208,  82.804,  80.996,  31.208,  35.366,
        27.018,  21.222,  18.252,  22.49 ,  15.716,  15.406,  21.006,
        12.956,  12.32 ,  14.016,  14.224,  12.148,  10.422,  11.162,
        10.506,   7.62 ,   6.984,   6.532,   6.74 ,   6.074,   5.898,
         6.326,   6.146,   5.444,  10.174,   5.928,   4.016,   9.306,
        22.342,  19.136,  21.29 ,  67.618,  63.73 ,  24.176,  29.836,
        42.54 ,  60.276,  31.484,  75.674,  81.874,  67.396,  90.526,
        80.486,  73.812,  62.802,  77.312,  81.086,  95.616,  77.178,
        35.154,  59.01 ,  41.786,  33.534,  28.542,  22.25 ,  20.   ,
        23.698,  18.79 ,  21.74 ,  14.388,  13.712,  12.978,  12.796,
        10.21 ,  10.148,  10.236,  11.3  ,   8.024,   5.51 ,   6.336,
         5.72 ,   5.468,   3.672,   6.75 ,   5.106,   5.08 ,   8.866,
         6.978,  15.942,   8.49 ,   9.224,  26.662,  35.686,  47.956,
        53.458,  44.378,  27.304,  46.826,  43.888,  57.19 ,  55.28 ,
        86.33 ,  77.176,  26.632,  71.262,  75.008,  70.75 ,  85.714,
        74.752,  78.334,  94.516,  85.068,  88.19 ,  76.878,  30.066,
        38.426,  22.834,  22.26 ,  23.008,  19.168,  13.338,  14.476,
        11.446,  10.034,  13.668,   9.278,   9.758,   9.01 ,   8.376,
         7.604,   7.37 ,   5.772,   7.622,   4.308,   8.58 ,   7.796,
         4.492,   6.198,   4.104,   5.396,   4.27 ,   4.266,   5.924,
         5.636,   4.408,  12.164,  11.628,   6.09 ,  10.382,   7.888,
        13.646,  61.76 ,  14.328,  16.494,   9.852,  10.218,  14.066,
        20.032,  18.684,  20.1  ,  13.78 ,   9.206,  14.12 ,  22.098,
        22.87 ,  17.718,  18.146,  21.018,  18.972,  18.524,  18.1  ,
        17.998,  16.156,   9.234,   8.522,  10.414,   9.236,   8.42 ,
         5.986,   6.03 ,   6.92 ,   6.556,   3.696,   3.87 ,   4.528,
         3.604,   3.124,   3.942,   2.732,   2.954,   3.398,   2.652,
         5.104,   3.512,   5.002,   5.028,   4.866,   4.182,   4.63 ,
         4.2  ,   4.426,   8.242,  11.62 ,  11.102,   9.12 ,   7.35 ,
        24.978,  13.764,  14.37 ,  15.62 ,  14.92 ,  10.268,   8.674,
        23.7  ,  15.702,  10.946,  17.812,  16.93 ,  19.148,  18.932,
        15.654,  15.822,  18.564,  19.002,  13.694,   8.794,   5.282,
         6.228,   8.444,   5.296,   6.952,   7.1  ,   6.514,   6.594,
         3.212,   6.19 ,   3.064,   3.886,   4.28 ,   3.238,   5.126,
         4.36 ,   3.482,   3.492,   4.332,   6.408,   3.638,   4.896,
         4.418,   5.912,   4.71 ,   4.592,   6.852,   9.358,  10.268,
        13.314,   8.138,  12.97 ,  18.126,  12.054,  13.418,  12.61 ,
        20.032,  19.09 ,   9.652,  10.726,   7.084,  15.978,  15.588,
        16.564,  16.796,  23.386,  16.652,  15.444,  16.918,  16.766,
         9.276,  11.03 ,  10.892,   8.764,   8.282,   6.008,   7.062,
         6.678,   6.42 ,   6.192,   5.244,   4.022,   4.764,   4.698,
         2.974,   5.262,   3.842])

In [143]:
submission_5 = pd.DataFrame({'city':df3['city'],'year':df3['year'],'weekofyear':df3['weekofyear'],'total_cases':y_test1})
#submission_5.head()

In [144]:
submission_5.head()

  city  year  weekofyear  total_cases
0   sj  2008          18        4.930
1   sj  2008          19        4.652
2   sj  2008          20        5.718
3   sj  2008          21        8.990
4   sj  2008          22       11.996

In [145]:
for i in (range(submission_5.shape[0])):
    submission_5['total_cases'][i]=round(submission_5['total_cases'][i])
submission_5['total_cases']= submission_5['total_cases'].astype(int)
submission_5

C:\Users\ARIJIT ROYCHAUDHURY\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    city  year  weekofyear  total_cases
0     sj  2008          18            5
1     sj  2008          19            5
2     sj  2008          20            6
3     sj  2008          21            9
4     sj  2008          22           12
..   ...   ...         ...          ...
411   iq  2013          22            5
412   iq  2013          23            5
413   iq  2013          24            3
414   iq  2013          25            5
415   iq  2013          26            4

[416 rows x 4 columns]

In [146]:
submission_5.to_csv("d7.csv",index=False)